<div class="container">
    <footer class="footer">
        <small>
             Copyright © <a href="https://www.ziggletech.com">Ziggle Tech Inc Ltd</a>
             by <a href="https://www.ziggletech.com"> Chetan Joshi</a>
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About",about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>